.title {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.title>h1{
    margin: 1rem;
}

#rescan {
    width:100%;
}
.red {
    color:red;
}

  .footer {
    margin-top: 5rem;
    height: 200px;
    display: flex;
  }
#log {
    overflow-y: auto;
    min-width: 650px;
    margin-bottom: 2rem;
}

#list_files {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
    /* flex-wrap: wrap; */
    margin-top: 5rem;

}

#busy-info {
    margin: 1rem;
}